<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
    absolute
  >
    <v-img
      :src="image"
      height="100%"
    >
      <v-layout
        class="fill-height"
        tag="v-list"
        column
      >
        <v-list-tile avatar>
          <v-list-tile-avatar
            color="grey"
          >
            <v-img
              :src="logo"
              height="64"
              contain
            />
          </v-list-tile-avatar>
          <v-list-tile-title class="title">
            HEMERA
          </v-list-tile-title>
        </v-list-tile>
        <v-divider/>
        <v-list-tile
          v-if="responsive"
        >
          <v-text-field
            class="purple-input search-input"
            label="Search..."
            color="purple"
          />
        </v-list-tile>
        <v-list-tile
          v-for="(link, i) in links"
          :key="i"
          :to="link.to"
          :active-class="color"
          avatar
          class="v-list-item"
        >
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title
            v-text="link.text"
          />
        </v-list-tile>
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import {
  mapMutations,
  mapState
} from 'vuex'

export default {
  data: () => ({
    logo: require('@/assets/img/redditicon.png'),

     links: [
       { to: '/ead', icon: 'mdi-view-dashboard', text: 'Dashboard' },
       { to: '/ead/aulas', icon: 'mdi-account', text: 'aulas' },
       { to: '/ead/solicitar', icon: 'mdi-clipboard-outline', text: 'solicitar' },
       { to: '/ead/aulaonline', icon: 'mdi-table-edit', text: 'aulaonline' },
       { to: '/ead/gerenciarmateria', icon: 'mdi-format-font', text: 'gerenciarmateria' },
       { to: '/ead/iniciaraula', icon: 'mdi-map-marker', text: 'iniciaraula' },
       { to: '/ead/GerenciarAluno', icon: 'mdi-bell', text: 'GerenciarAlunot' }
      ],

    responsive: true
  }),
  computed: {
    ...mapState('app', ['image', 'color']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    items () {
      return this.$t('Layout.View.items')
    }
  },
  mounted () {
    const user = JSON.parse(localStorage.getItem('user'));
    if (user.ch) {
      this.links = [
        { to: '/ead', icon: 'mdi-view-dashboard', text: 'Página Principal' },
        { to: '/ead/aulas', icon: 'mdi-account', text: 'Aulas' },
        { to: '/ead/solicitar', icon: 'mdi-clipboard-outline', text: 'solicitar' },
        { to: '/ead/aulaonline', icon: 'mdi-table-edit', text: 'Aula Online' }
      ]
    } else {
      this.links = [
        { to: '/ead', icon: 'mdi-view-dashboard', text: 'Dashboard' },
        { to: '/ead/gerenciarmateria', icon: 'mdi-format-font', text: 'Gerenciar Matérias' },
        { to: '/ead/iniciaraula', icon: 'mdi-map-marker', text: 'Aula Online' },
        { to: '/ead/GerenciarAluno', icon: 'mdi-bell', text: 'Gerenciar Aluno' }
      ]
    }

    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
      } else {
        this.responsive = false
      }
    }
  }
}
</script>

<style lang="scss">
  #app-drawer {
    .v-list__tile {
      border-radius: 4px;

      &--buy {
        margin-top: auto;
        margin-bottom: 17px;
      }
    }

    .v-image__image--contain {
      top: 9px;
      height: 60%;
    }

    .search-input {
      margin-bottom: 30px !important;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
</style>
