<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card
            color="general">

          <div
              slot="header"
          >
            <div class="title font-weight-light mb-2">{{ TitleScrean }}</div>
            <div class="category">
              Entrar em uma aula online
            </div>
          </div>

          <v-card-text>
            <v-layout>

              <v-flex
                  v-for="aula in aulaOnline"
                  :key="aula.id"
                  xs12
                  sm6
                  lg4
              >
                <v-card>
                <v-img 
                  :src= aula.materia.foto
                  min-height="200px"
                  max-height="600px"
                >
                    <v-container
                        fill-height
                        fluid
                        pa-2
                    >
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <span class="headline white--text" v-text="aula.materia.nome"></span>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-img>


                  

                  <v-card-actions style=" display: flex; flex-direction: column; justify-content: right; align-items: end;" >
                    <v-spacer>professor: {{ aula.professor.nome }}</v-spacer>
                    
                    <a target="_blank" :href="aula.url"> Link para o meet </a>
                    <a target="_blank" :href="aula.chat"> Link para sala de chat</a>

                  </v-card-actions>

                </v-card>

              </v-flex>

                
            </v-layout>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>

export default {
  name: 'Dashboard',
  data: function () {
    return {
      TitleScrean: 'Aula Online',
      aulaOnline: [],
      headers: [
        {
          text: 'Código',
          align: 'left',
          value: 'id'
        },
        { text: 'Login', value: 'login' },
        { text: 'Email', value: 'email' },
        { text: 'Nome', value: 'nome' },
        { text: 'Adicionar', value: 'name', sortable: false }
      ]
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize() {
      let user = JSON.parse(localStorage.getItem('user'))
      this.$store.dispatch("AulaAlunoPersonalizada", { idAluno: user.id })
      .then(resp => {
        //console.log(resp)
        let user = JSON.parse(localStorage.getItem('user'))
        resp.forEach(elem => {
          let url = "http://localhost:4000/" + elem.materia.nome + "/" + user.nome +"/"+elem.professor.nome
            console.log(elem)
          let va = 
            { 
            conteudo: elem.conteudo,
            dataInicio: elem.dataInicio,
            id: elem.id,
            url: elem.url,
            materia: elem.materia,
            professor: elem.professor,
            chat: url 
          }
          
          this.aulaOnline.push(va)
          
          })
      }) 

    }
  }

}
</script>
