<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card
            color="general">

          <div
              slot="header">
            <div class="title font-weight-light mb-2">{{ TitleScrean }}</div>
            <div class="category">
              pesquise por data, matéria ou conteúdo
            </div>
          </div>

          <v-card-text>

            <template>
              <v-expansion-panel>
                <v-expansion-panel-content
                    v-for="materia in materias"
                    :key="materia.id"
                >
                  <template v-slot:header>
                    <div>{{materia.nome}}</div>
                  </template>

                  <v-card>

                    <v-card-text>


                      <v-layout row wrap>

                        <v-flex xs12 sm6 lg4 offset-sm6 offset-lg8>

                          <v-text-field
                              :key="materia.id"
                              append-icon="search"
                              v-model="materia.search"
                              label="Pesquisa"
                          ></v-text-field>

                        </v-flex>

                        <v-flex
                            v-for="gravacao in materia.gravacoes"
                            :key="gravacao.id"
                            xs12
                            sm6
                            lg4
                        >
                          <v-card>
                            <v-img
                                :src="gravacao.foto"
                                min-height="200px"
                                max-height="600px"
                            >
                              <v-container
                                  fill-height
                                  fluid
                                  pa-2
                              >
                                <v-layout fill-height>
                                  <v-flex xs12 align-end flexbox>
                                    <span class="headline white--text" v-text="gravacao.conteudo"></span>
                                    <v-spacer></v-spacer>
                                    {{ gravacao.data }}
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </v-img>

                            <v-card-actions style="display: flex; flex-direction: column; justify-content: right; align-items: end;" >
                              <v-spacer>Professor: {{ gravacao.professor }} </v-spacer>
                              <v-spacer><v-btn icon> <v-icon>link</v-icon></v-btn> <a :href="gravacao.urlSalva" target="_blank" >link do google drive</a></v-spacer>
                              
                            </v-card-actions>

                          </v-card>

                        </v-flex>

                      </v-layout>

                    </v-card-text>

                  </v-card>

                </v-expansion-panel-content>
              </v-expansion-panel>
            </template>

          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>

export default {
  name: 'Dashboard',
  data: () => ({

      TitleScrean: 'Aulas Gravadas',
      materias: [],
      arr: []


  }),

  created () {
    this.initialize()
  },

  methods: {
    initialize () {

    
      let user = JSON.parse(localStorage.getItem('user'))
      

      this.$store.dispatch('AulaGravada', {idAluno: user.id})
      .then( resp => {  
        resp.forEach(elem => {

          console.log(elem)
          
          let jasonAula = {
            id : elem.materia.id,
            nome: elem.materia.nome,
            search: '',
            gravacoes: []
          }

            resp.forEach(twoElem => {
              var date = new Date(twoElem.dataInicio); // converte para data
            
              let img;

              if(elem.foto == null) {
                img = "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/754c5436-8761-437a-b826-c36e8cc6edd6/d4xmmg4-883c5c3d-2e64-445f-8dc4-a7c4eef8f41c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNzU0YzU0MzYtODc2MS00MzdhLWI4MjYtYzM2ZThjYzZlZGQ2XC9kNHhtbWc0LTg4M2M1YzNkLTJlNjQtNDQ1Zi04ZGM0LWE3YzRlZWY4ZjQxYy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.XzVtgmHclCQDxcAIKviSloTpSN3_NpSibEvcm9uXwz0"
              }else{
                img = elem.foto
              }

              let bug = {
                id: twoElem.id,
                foto: img,
                urlSalva: elem.urlSalva,
                conteudo: twoElem.conteudo,
                professor: twoElem.professor.nome,
                data: date.toLocaleDateString("pt-BR")
              }

              if(twoElem.materia.id == jasonAula.id){
                jasonAula.gravacoes.push(bug)
              }
            }) 


          if(this.materias.length == 0 ){
            this.materias.push(jasonAula)
          }else{
            this.materias.forEach(elem => {
              
              if(elem.id == jasonAula.id ){
                console.log("não ta duplicado")
              }else{
                this.materias.push(jasonAula)
              }
            })
          }

          console.log(this.materias.length )

          
          
        
        })  

        

      })

      


    }  

  }
}

/*
    {
          id :1,
          nome: 'Matemática',
          search: '',
          gravacoes: [
            {
              id: 1,
              data: '01/12/2020 ás 18:30',
              conteudo: 'soma',
              professor: 'Pedro Escanor da silva',
            },
            {
              id: 2,
              data: '01/12/2020 ás 18:30',
              conteudo: 'divisão',
              professor: 'Pedro Escanor da silva',
            }
          ]
        },
*/


</script>
