<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card
            color="general">
          <v-card-text>
            <v-layout
                row
                center>
              <v-flex
                  align="center"
                  md12>

                <h1 > {{ TitleScrean }} </h1>
                <v-img
                    src="/world.png"
                    min-height="100px" />

              </v-flex>
            </v-layout>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>

export default {
  name: 'Dashboard',
  data () {
    return {
      TitleScrean: 'Bem Vindo'
    }
  }
}
</script>
