<template>
  <v-container
      fill-height
      fluid
      grid-list-xl
  >
    <v-layout
        justify-center
        wrap
    >
      <v-flex
          md12
      >
        <div>
          <material-card
              color="general"
              title="Gerenciamento de matérias"
              text=""
          >
            <!-- Dialog de nova matéria -->
            <v-dialog
                v-model="dialog"
                max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn
                    color="general"
                    dark
                    class="mb-2"
                    v-on="on">Adicionar Matéria</v-btn>
              </template>
              <v-card>
                <v-card-text>
                  <v-container grid-list-md >
                    <v-layout wrap>

                      <v-flex
                          xs12
                          sm6
                          md4>
                        <v-text-field
                            v-model="editedItem.nome"
                            label="Nome" />
                      </v-flex>




                      <v-flex
                          xs12
                          sm6
                          md4>
                        <v-text-field
                            type="number"
                            v-model="editedItem.custo"
                            label="Custo" />
                      </v-flex>
                      
                      <input
                        type="file"
                        id="file"
                        @change="selectFile"
                      />

                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer/>
                  <v-btn
                      color="blue darken-1"
                      flat
                      @click="close">Cancel</v-btn>
                  <v-btn
                      color="blue darken-1"
                      flat
                      @click="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            
            <!-- Vintão -->
              <v-dialog
                v-model="activ"
                max-width="500px">
              <v-card>
                <v-card-text>
                  <v-container grid-list-md >

                    <v-text-field
                          v-model="alunoFiltro"
                          label="Filtro de aluno" />

                    <v-layout wrap
                      v-for="aluno in AlunosFiltro" >

                      <div style="border-bottom: 2px solid #9797de">

                      <span class="elementes" >ID: {{ aluno.id }}</span>
                      <span class="elementes">Email: {{ aluno.email }}</span>
                      <span class="elementes">Nome: {{ aluno.nome }}</span>
                      <v-btn
                        color="blue darken-1"
                        flat
                        @click="Adicionar(aluno.id,materiaChoice)">adicionar</v-btn>
                      
                      </div>

                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer/>
                  <v-btn
                      color="blue darken-1"
                      flat
                      @click="closeClients">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-data-table
                :headers="headers"
                :items="materias"
                :expand="true"
                class="elevation-1"

            >
              <!-- change table header color(or other properties) -->
              <template
                  slot="headerCell"
                  slot-scope="{ header }"
              >
                <span
                    class="subheading font-weight-light text-general text--darken-3"
                    v-text="header.text"
                />
              </template>
              <template v-slot:items="props">
                <tr  @click="props.expanded = !props.expanded">
                  <td>{{ props.item.id }}</td>
                  <td class="">{{ props.item.nome }}</td>
                  <td class="">{{ props.item.custo }}</td>
                  <td>
                    <v-icon
                        medium
                        class="mr-2"
                        @click="editItem(props.item)"
                    >
                      edit
                    </v-icon>
                  </td>
                  <td>
                    <v-icon
                        medium
                        @click="AdicionarAluno(props.item,props.item.id)"
                    >
                      restore
                    </v-icon>
                  </td>
                  
                </tr>
              </template>
              <template v-slot:no-data>
                <v-btn
                    color="primary"
                    @click="initialize">Reset</v-btn>
              </template>

              <template v-slot:expand="props">
                <v-card flat>
                  <v-card-media :src="props.item.src" />
                </v-card>
              </template>

            </v-data-table>

          </material-card>
        </div>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
function formatAsCurrency (value, dec) {
  dec = dec || 0
  if (value === null) {
    return 0
  }
  return '' + value.toFixed(dec).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
}
export default {
  data: () => ({
    alunoFiltro: '',
    snack: false,
    snackColor: '',
    snackText: '',
    currentFile: null,
    max25chars: v => v.length <= 25 || 'Input too long!',
    pagination: {},
    // data above is for inline edit
    dialog: false,
    activ: false,
    materiaChoice: null,
    headers: [
      {
        text: 'Código',
        align: 'left',
        value: 'id'
      },
      { text: 'Matéria', value: 'nome' },
      { text: 'Custo', value: 'custo' },
      { text: 'Editar', value: 'name', sortable: false },
      { text: 'Adicionar', value: 'name', sortable: false }
    ],
    materias: [],
    alunos: [],
    editedIndex: -1,
    editedItem: {
      id: 0,
      nome: '',
      custo: 0,
      alunos: 0,
      conteudo: ""
    },
    defaultItem: {
      id: 0,
      nome: '',
      custo: 0,
      conteudo: "",
      alunos: 0
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Novo Item' : 'Editar Item'
    },
    initialBalanceFormatted: {
      get: function () {
        return formatAsCurrency(this.initialBalance, 0)
      },
      set: function (newValue) {
        this.initialBalance = Number(newValue.replace(/[^0-9\.]/g, ''));
      }
    },
    AlunosFiltro(){
      if(alunoFiltro){
        /*
        aluno.email
aluno.nome
        */
        return this.alunos.filter( x => x.nome.toLowerCase().indexOf(this.alunoFiltro.toLowerCase()) ||
                                x.email.toLowerCase().indexOf(this.alunoFiltro.toLowerCase()))
      }
      return alunos;
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {


      this.$store.dispatch('BuscarMaterias')
      .then( resp => {  
        console.log(resp)
        this.materias = resp 
        })


    },

    editItem (item) {
      this.editedIndex = this.materias.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    Adicionar(aluno_id,materia_id){

      this.$store.dispatch('vincularMateria', {"idAluno": aluno_id, "idMateria": materia_id} )
    },
    AdicionarAluno(item,materia_id){
      
      this.$store.dispatch('Alunos')
      .then( data => {
        data.forEach(elem => {
          this.alunos.push({id: elem.id,nome: elem.nome,email: elem.email,login: elem.login })
        })
      })
      this.materiaChoice = materia_id
      this.activ = true
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    
    closeClients(){
      this.activ = false
      this.materiaChoice = null
      setTimeout(() => {
        this.alunos = []
      }, 300)
    },
    saveClients(){
      console.log("asdasdsads")
    },
    save () {
      let itemEdit = this.editedItem 

      if (this.editedIndex > -1) {
        Object.assign(this.materias[this.editedIndex], this.editedItem)
      } else {
        this.materias.push(this.editedItem)
      }
      let user = JSON.parse(localStorage.getItem('user'));
      let dados = new FormData();

        console.log(this.editedItem)
      if(this.editedItem.id == 0){
        
        dados.append("nome",itemEdit.nome)
        dados.append("custo",itemEdit.custo)
        

        dados.append("idProfessor",user.id)
        const file = document.getElementById('file');
        console.log(file.files[0])

        if(file.files && file.files.length > 0){
          dados.append('foto',  file.files[0]);
        }else{
          dados.append('foto', null)
        }

        this.$store.dispatch('CadastrarMateria', dados )
        
      }else{
        console.log("foda")
        
        
        dados.append("id",this.editedItem.id)
        dados.append("nome",itemEdit.nome)
        dados.append("custo",itemEdit.custo)
        dados.append("idProfessor",user.id)
        if(file.files && file.files.length > 0){
          dados.append('foto',  file.files[0]);
        }else{
          dados.append('foto', null)
        }

        this.$store.dispatch('EditarMateria', dados )
        
        
      }

      this.close()
    },
    saveInline () {
      this.snack = true
      this.snackColor = 'success'
      this.snackText = 'Data saved'
    },
    selectFile(file) {
      console.log("whater whater")
      this.currentFile = file;
    },
    cancelInline () {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Canceled'
    },
    openInline () {
      this.snack = true
      this.snackColor = 'info'
      this.snackText = 'Dialog opened'
    },
    closeInline () {
      console.log('Dialog closed')
    }
  }
}
</script>

<style>
table.v-table thead tr {
  color: red !important;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.elementes{
  margin: 10px;
}

</style>
