<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card
            color="general">

          <div
              slot="header"
          >
            <div class="title font-weight-light mb-2">{{ TitleScrean }}</div>
            <div class="category">
              Permitir que aluno entre em Matéira
            </div>
          </div>
  
            <v-dialog
                v-model="activ"
                max-width="500px">
              <v-card>
                <v-card-text>
                  <v-container grid-list-md >
                    <v-layout wrap
                      v-for="materia in materias" >

                      <div style="border-bottom: 2px solid #9797de">

                        <span class="elementes">{{ materia.id }}</span>
                        <span class="elementes">{{ materia.nome }}</span>
                        <v-btn
                          color="blue darken-1"
                          flat
                          @click="Adicionar(aluno_id,materia.id)">adicionar</v-btn>
                        
                      </div>

                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer/>
                  <v-btn
                      color="blue darken-1"
                      flat
                      @click="closeMateria">Cancel</v-btn>
                  
                </v-card-actions>
              </v-card>
            </v-dialog>



          <v-card-text>
            <v-layout
                row
                center>
              <v-flex
                  align="center"
                  md12>
                  
                <v-data-table
                    :headers="headers"
                    :items="alunos"
                    class="elevation-1"
                >
                  <!-- change table header color(or other properties) -->
                  <template
                      slot="headerCell"
                      slot-scope="{ header }"
                  >
                <span
                    class="subheading font-weight-light text-general text--darken-3"
                    v-text="header.text"
                />
                  </template>
                  <template v-slot:items="props">
                      <td>{{ props.item.id }}</td>
                      <td class="">{{ props.item.login }}</td>
                      <td class="">{{ props.item.email }}</td>
                      <td class="">{{ props.item.nome }}</td>
                      <td class="justify-center ">
                        <v-icon
                            medium
                            @click="adicionarMateria(props.item.id)"
                        >
                          restore
                        </v-icon>
                      </td>
                  </template>
                  <template v-slot:no-data>
                    <v-btn
                        color="primary"
                        @click="initialize">Reset</v-btn>
                  </template>

                  <template v-slot:expand="props">
                    <v-card flat>
                      <v-card-media :src="props.item.src" />
                    </v-card>
                  </template>

                </v-data-table>


              </v-flex>
            </v-layout>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>


</template>




<script>

export default {
  name: 'Dashboard',
  data () {
    return {
      TitleScrean: 'Gerenciar Alunos',
      activ: false,
      materias: [],
      aluno_id: null,
      alunos: [
        /*
        {
          id: 1,
          nome: 'Raphael',
          email: 'rafamonteiro@ucl.br',
          login: 'rafamo',
        },
        {
          id: 2,
          nome: 'Pedro',
          email: 'pedrodasilva@ucl.br',
          login: 'pedrosi',
        },
        */
      ],
      headers: [
        {
          text: 'Código',
          align: 'left',
          value: 'id'
        },
        { text: 'Login', value: 'login' },
        { text: 'Email', value: 'email' },
        { text: 'Nome', value: 'nome' },
        { text: 'Adicionar', value: 'name', sortable: false }
      ]
    }
  },


  created () {
    this.initialize()
  },

  methods: {
    adicionarMateria (aluno_id) {
 
      this.$store.dispatch('BuscarMaterias')
      .then( resp => {  
        console.log(resp)
        this.materias = resp 
      })

      this.aluno_id = aluno_id
      this.activ = true
    },
    Adicionar(aluno_id,materia_id){
      this.$store.dispatch('vincularMateria', {"idAluno": aluno_id, "idMateria": materia_id} )
    },

    closeMateria (){  
      this.aluno_id = null
      this.activ = false
    },
    initialize () {
      this.$store.dispatch('Alunos')
      .then( resp => {
        let data = resp
        data.forEach(elem => {
          this.alunos.push({id: elem.id,nome: elem.nome,email: elem.email,login: elem.login })
        })


      })
    }
  
  
  }


    
}
</script>


<style>

.elementes{
  margin: 10px;
}

</style>
