<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card color="general">

          <div slot="header">
            <div class="title font-weight-light mb-2">{{ TitleScrean }}</div>
            <div class="category">
              Iniciar aula online
            </div>
          </div>

          <v-card-text>

            <v-layout row wrap>
              <v-flex
                  v-for="card in cards"
                  :key="card.title"
                  xs12
                  sm6
              >
                <v-card>
                  <v-img
                      :src="card.foto"
                      height="200px"
                  >
                    <v-container
                        fill-height
                        fluid
                        pa-2
                    >
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <span class="headline white--text" v-text="card.title"></span> <br />

                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-img>

                  <v-card-actions>
                    <v-spacer>{{ card.nomeProfessor }}</v-spacer>
                    <v-spacer> <a target="_blank" :href="card.chat">Sala de chat</a></v-spacer>
                    <v-btn v-on:click="deleteAula(card.idMateria, card.idProfessor)">finalizar aula</v-btn>
                    <v-btn v-on:click="createAula(card.idMateria, card.idProfessor)">Iniciar aula</v-btn>
                    <v-btn 
                    @click="atualizarAula(card.id)"
                    icon
                    >
                      <v-icon>mdi-clock</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>

          </v-card-text>


        </material-card>
      </v-flex>
    </v-layout>


              <v-dialog
                v-model="dialog"
                max-width="500px">
              <v-card>
                <v-card-text>
                  <v-container grid-list-md >
                    <v-layout wrap>

                      <v-flex
                          xs12
                          sm6
                          md4>
                        <v-text-field
                            v-model="url"
                            :label="msgLink" />
                      </v-flex>

                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer/>
                  <v-btn
                      color="blue darken-1"
                      flat
                      @click="close">Cancel</v-btn>
                  <v-btn
                      color="blue darken-1"
                      flat
                      @click="save()">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            



    
  </v-container>
</template>



<script>
export default {
  data: () => ({
    
    TitleScrean: 'Aula Online',
    cards: [],
    dialog: false,
    idMateria: null,
    idProfessor: null,
    url: "",
    msgLink: "insira o link do meet",
    isMeet: true,
    idAula: 0
      
  }),

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      let user = JSON.parse(localStorage.getItem('user'));
        

      this.$store.dispatch('BuscarMaterias')
      .then( resp => {
        let elem = resp
        elem.forEach(data => {
          console.log(data)
          let url = "http://localhost:4000/" + data.nome + "/" + user.nome +"/"+ user.nome  
          this.cards.push({ title: data.nome, foto: data.foto, id: data.id, idMateria: data.id, idProfessor: data.professor.id, nomeProfessor: data.professor.nome, chat: url})
        })   
      })
    },
    deleteAula(idMateria, idProfessor){
      this.$store.dispatch("AulaGravada", {idMateria: idMateria})
      .then(resp => {
        resp.forEach(elem => {
          this.$store.dispatch('AulaEncerrada',{id: elem.id}).then(resp => close())
        })
      })
    },
    atualizarAula(idMateria, idProfessor){
      this.$store.dispatch('AulaGravada', {idMateria: idMateria}).then( jsonAll => {
        const Max = jsonAll.reduce( (max, character) => (character.id > max.id ? character : max), jsonAll[0] );
        console.log({ maximus: Max })
        this.msgLink = "insira o link do drive"
        this.idAula = Max.id
        this.idMateria = idMateria
        this.idProfessor = JSON.parse(localStorage.getItem('user')).id
        this.dialog = true;
      })

    },
    createAula(idMateria, idProfessor){
      this.msgLink = "insira o link do drive"
      
      this.idAula= null
      this.idMateria = idMateria
      this.idProfessor = JSON.parse(localStorage.getItem('user')).id
      this.dialog= true;
    },
    save(idMateria, idProfessor){
      if(this.idAula){
        this.$store.dispatch('CriarAula', {urlSalva: this.url, idAula: this.idAula})
          .then( x => this.close() )
      }else{
        this.$store.dispatch('CriarAula', {idProfessor: this.idProfessor ,idMateria: this.idMateria,url: this.url})
          .then( x => this.close() )
      }
      

    },
    close(){
      this.dialog = false
    }
    
  }
}


</script>
