<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card
            color="general">

          <div
              class="caixa-verde"
              slot="header"
          >
            <div class="title font-weight-light mb-2">{{ TitleScrean }}</div>
            <div class="category">
              Listar matérias e pedir entrada em uma delas
            </div>
          </div>

          <v-card-text>
            <v-layout
                row
                center>
              <v-flex
                  align="center"
                  md12>

                <v-card>

                  <v-card-text>


                    <v-layout row wrap>

                      <v-flex xs12 sm6 lg4 offset-sm6 offset-lg8>

                        <v-text-field
                            append-icon="search"
                            v-model="search"
                            label="Pesquisa"
                        ></v-text-field>

                      </v-flex>

                      <v-flex
                          v-for="materia in materias"
                          :key="materia.id"
                          xs12
                          sm6
                          lg4
                      >
                        <v-card>
                          <v-img 
                              :src= materia.foto
                              min-height="200px"
                              max-height="600px"
                          >
                            <v-container
                                fill-height
                                fluid
                                pa-2
                            >
                              <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                  <span class="headline white--text" v-text="materia.nome"></span>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-img>


                          <v-btn icon v-on:click="inscreverAula(materia.id,materia.idUser)" style="position: relative; float: right;"> <v-icon>mdi-plus-circle</v-icon> </v-btn>

                          <v-card-actions style="display: flex; flex-direction: column; justify-content: right; align-items: end;" >
                            <v-spacer>professor: {{ materia.professor }}</v-spacer>
                            <v-spacer>Preço: R${{ materia.custo }}</v-spacer>
                          </v-card-actions>

                        </v-card>

                      </v-flex>

                    </v-layout>

                  </v-card-text>

                </v-card>

              </v-flex>
            </v-layout>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>

export default {
/*
  name: 'Dashboard',
  data () {
    return {
      TitleScrean: 'Solicitar entrada em matéria',
      search: '',
      materias: [
        { id: 1, nome: 'Banco de dados' },
        { id: 2, nome: 'Matemática' },
        { id: 3, nome: 'Lógica de aplicação' },
      ]
    }
  }
*/
 data: () => ({
    
    TitleScrean: 'Solicitar entrada em matéria',
    search: '',
    materias: []
        
  }),

  created () {
    this.initialize()
  },


  methods: {
    inscreverAula(materia_id,aluno_id){
       
      let cons = localStorage.getItem('user')
      
      this.$store.dispatch('vincularMateria', {"idAluno": aluno_id,"idMateria": materia_id })
      
    },
    initialize () {
      let user = JSON.parse(localStorage.getItem('user'));
      console.log(user)

      this.$store.dispatch('BuscarMaterias')
      .then( resp => {
        let elem = resp
        
        elem.forEach(data => {
  
          this.materias.push({ id: data.id, alunos: data.alunos ,custo: data.custo ,nome: data.nome, foto: data.foto, professor: data.professor.nome, idUser: user.id})
        })   
      })
    }
  }
}



</script>

<style>

.v-card--material__header{
  box-shadow: 0 12px 20px -5px rgba(76, 175, 80, 0.28), 0 4px 20px 5px rgba(0, 0, 0, 0.12), 0 7px 8px -0px rgba(76, 175, 80, 0.2) !important;
}

</style>
