<template>
  <v-content>
    <v-container
      fill-height
      fluid>
      <v-layout
        align-center
        justify-center>
        <v-flex
          xs12
          sm8
          md4>
          <v-card
            class="elevation-12">
            <v-toolbar
              color="general">
              <v-toolbar-title> {{ titleLogin }} </v-toolbar-title>
              <v-spacer/>
            </v-toolbar>
            <v-window v-model="step">

              <v-window-item :value="1">
                <v-card-text>
                  <v-form >
                    <v-text-field
                      ref="username"
                      v-model="username"
                      :rules="[() => !!username || 'o campo é requerido']"
                      prepend-icon="mdi-account"
                      label="Login"
                      placeholder="Insira seu login"
                      required
                    />
                    <v-text-field
                      ref="password"
                      v-model="password"
                      :rules="[() => !!password || 'o campo é requerido']"
                      :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                      :type="showPassword ? 'text' : 'password'"
                      prepend-icon="mdi-lock"
                      label="Senha"
                      placeholder="*********"
                      counter
                      required
                      @keydown.enter="loginAction"
                      @click:append="showPassword = !showPassword"
                    /><br />

                    <v-spacer></v-spacer>
                    <v-btn
                        dark
                        color="general"
                        @click="loginAction">
                      Entrar
                    </v-btn>

                  </v-form>
                </v-card-text>
              </v-window-item>

              <v-window-item :value="2">
                <v-card-text>

                  <v-form>

                    <v-text-field
                        ref="nome"
                        v-model="nome"
                        :rules="[() => !!nome || 'o campo é requerido']"
                        prepend-icon="mdi-account"
                        label="Nome"
                        placeholder="Insira seu nome"
                        required
                    ></v-text-field>

                    <v-text-field
                        ref="email"
                        v-model="email"
                        :rules="[() => !!email || 'o campo é requerido']"
                        prepend-icon="mdi-account"
                        label="Email"
                        placeholder="Insira seu email"
                        required
                    ></v-text-field>

                    <v-text-field
                        ref="login"
                        v-model="login"
                        :rules="[() => !!login || 'o campo é requerido']"
                        prepend-icon="mdi-account"
                        label="login"
                        placeholder="Insira seu login"
                        required
                    ></v-text-field>

                    <v-text-field
                        ref="senha"
                        v-model="senha"
                        :rules="[() => !!senha || 'o campo é requerido']"
                        :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="showPassword ? 'text' : 'password'"
                        prepend-icon="mdi-lock"
                        label="Senha"
                        placeholder="*********"
                        counter
                        required
                        @keydown.enter="cadastroAction"
                        @click:append="showPassword = !showPassword"></v-text-field>

                    Insira sua foto <br />
                    <input
                        type="file"
                        id="file"
                     />
                    <br /><br />

                    Tipo de usuário:
                    <v-btn-toggle v-model="tipouser">
                        <v-btn flat value="prof" color="green" >
                          Professor
                        </v-btn>
                        <v-btn flat value="aluno" color="green">
                          Aluno
                        </v-btn>
                    </v-btn-toggle>

                    <br />

                      <v-spacer/>
                      <p class="text-xs-right">
                        <v-btn
                            dark
                            color="general"
                            @click="cadastroAction"
                        >
                          Cadastrar
                        </v-btn>
                      </p>
                  </v-form>
                </v-card-text>
              </v-window-item>

            </v-window>

            <v-divider class="mt-5"/>
            <v-card-actions>

              <v-btn
                  align-center
                  justify-center
                  :disabled="step == 1"
                  color="dark"
                  @click="step = 1">
                <v-icon> mdi-arrow-left </v-icon>
                Login
              </v-btn>
              <v-spacer/>
              <v-btn
                  align-center
                  justify-center
                  :disabled="step == 2"
                  color="dark"
                  @click="step = 2">Ir para o Cadastro
                <v-icon> mdi-arrow-right </v-icon>
              </v-btn>

            </v-card-actions>
            <v-snackbar
              v-model="snackbar"
              :color="color"
              :top="true"
            >
              {{ errorMessages }}
              <v-btn
                dark
                flat
                @click="snackbar = false"
              >
                Fechar
              </v-btn>
            </v-snackbar>
          </v-card>
        </v-flex>
      </v-layout>

    </v-container>
  </v-content>
</template>

<script>
export default {
  data: function () {
    return {
      username: '',
      password: '',
      errorMessages: 'Incorrect login info',
      snackbar: false,
      color: 'general',
      showPassword: false,
      step: 1,
      currentFile: undefined,
      nome: '',
      email: '',
      senha: '',
      login: '',
      tipouser: 'prof'
    }
  },

  computed: {
    titleLogin: function () {
      return this.step == 1 ? 'HEMERA login' : 'HEMERA cadastro';
    }
  },
  methods: {
    selectFile(file) {
      this.currentFile = file;
    },
    loginAction: function () {

      let username = this.username
      let password = this.password

      if( username && password){
        this.$store.dispatch('login', { username, password })
            .then((resp) => { 
              console.log(resp)
              window.location.reload() 
              })
            .catch(err => {
              console.log(err)
              this.errorMessages = 'Login inválido';
              this.snackbar = true
            })
      }else{
        this.errorMessages = 'Preencha os dados de login';
        this.snackbar = true
      }
    },
    cadastroAction: function () {
      const dados = new FormData();

      let senha = this.senha;
      let email = this.email;
      let login = this.login;
      let nome = this.nome;
      let date_photo;

      dados.append('nome',  nome);
      dados.append('login', login);
      dados.append('email', email);
      dados.append('senha', senha);
      const file = document.getElementById('file');
      if(file.files && file.files.length > 0){
        dados.append('foto',  file.files[0]);
      }else{
        console.log("sim sim")
        
      }

      console.log({file: file, dados: dados});

      if( this.tipouser == "prof" ){
        this.$store.dispatch('CadastrarProfessor', dados)
            .then(() => {
              this.errorMessages = 'Cadastro realizado com sucesso';
              this.snackbar = true
              this.step = 1
            })
            .catch(err => {
              console.log(err)
              this.errorMessages = 'Cadastro inválido';
              this.snackbar = true
            })
      }else{
        this.$store.dispatch('CadastrarAluno', dados)
            .then(() => {
              this.errorMessages = 'Cadastro realizado com sucesso';
              this.snackbar = true
              this.step = 1
            })
            .catch(err => {
              console.log(err)
              this.errorMessages = 'Cadastro inválido';
              this.snackbar = true
            })
      }
    }
  },
  metaInfo () {
    return {
      title: 'Super Secret | Login'
    }
  }
}
</script>
