<template>
  <v-container
      fluid
      grid-list-xl
      fill-height>
    <v-layout
        justify-center
        align-center
    >
      <v-flex xs12>
        <material-card
            color="general">

          <div
              slot="header"
          >
            <div class="title font-weight-light mb-2">{{ TitleScrean }}</div>
            <div class="category">
              mostrar todas aulas gravdas por data, matéria ou conteudo
            </div>
          </div>

          <v-card-text>
            <v-layout
                row
                center>
              <v-flex
                  align="center"
                  md12>

                <h1> conteudo </h1>

              </v-flex>
            </v-layout>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>

export default {
  name: 'Dashboard',
  data () {
    return {
      TitleScrean: 'Aulas Gravadas'
    }
  }
}
</script>
