<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
      :custom-filter="filterOnlyCapsText"
      item-key="name"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Search (UPPER CASE ONLY)"
          class="mx-4"
        />
      </template>
      <template v-slot:body.append>
        <tr>
          <td/>
          <td>
            <v-text-field
              v-model="calories"
              type="number"
              label="Less than"
            />
          </td>
          <td colspan="4"/>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        calories: '',
        desserts: [
          {
            name: 'Frozen Yogurt',
            category: 'Ice cream',
            dairy: 'Yes'
          },
          {
            name: 'Ice cream sandwich',
            category: 'Ice cream',
            dairy: 'Yes'
          },
          {
            name: 'Eclair',
            category: 'Cookie',
            dairy: 'Yes'
          },
          {
            name: 'Cupcake',
            category: 'Pastry',
            dairy: 'Yes'
          },
          {
            name: 'Gingerbread',
            category: 'Cookie',
            dairy: 'No'
          },
          {
            name: 'Jelly bean',
            category: 'Candy',
            dairy: 'No'
          },
          {
            name: 'Lollipop',
            category: 'Candy',
            dairy: 'No'
          },
          {
            name: 'Honeycomb',
            category: 'Toffee',
            dairy: 'No'
          },
          {
            name: 'Donut',
            category: 'Pastry',
            dairy: 'Yes'
          },
          {
            name: 'KitKat',
            category: 'Candy',
            dairy: 'Yes'
          }
        ]
      }
    },
    computed: {
      headers () {
        return [
          {
            text: 'Dessert (100g serving)',
            align: 'start',
            value: 'name',
            groupable: false,
            sortable: false
          },
          {
            text: 'Category',
value: 'category',
align: 'right',
            filter: value => {
              if (!this.calories) return true

              return value < parseInt(this.calories)
            }
          },
          {
            text: 'Dairy',
value: 'dairy',
align: 'right',
            filter: value => {
              if (!this.calories) return true

              return value < parseInt(this.calories)
            }
          }
        ]
      }
    },
    methods: {
      filterOnlyCapsText (value, search, item) {
        return value != null &&
          search != null &&
          typeof value === 'string' &&
          value.toString().toLocaleUpperCase().indexOf(search) !== -1
      }
    }
  }
</script>
